@font-face {
    font-family: 'Reddit Mono';
    src: url('RedditMono-Regular.woff2') format('woff2'),
        url('RedditMono-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

